{% load thumbnail %}
{% load compress %}

<style type="text/css">.jw-dock-button[button=related] { display: none; }</style>
<div class="player-wrap player-wrap-jwplayer">
  {% thumbnail video.imagen.file "722" upscale=True as im %}
  <div id="video-{{ video.uuid }}"><img alt="{{ video.titulo }}" width="100%" src="{{ im.url }}" /></div>
  {% endthumbnail %}

  {% compress js %}
  <script>
    var sources = [], tracks = [];

    {% if video.hls %}
    sources.push({ url:"{{ video.url }}", file: "{{ video.hls.url }}", default: true});
    {% endif %}

    {% if video.webm %}
    sources.push({ url:"{{ video.url }}", file: "{{ video.hls.url }}", default: true});
    {% endif %}

    {% if video.archivo %}
    sources.push({ file: "{{ video.archivo.url }}", default: false });
    {% endif %}

    {% if video.sprites %}
    tracks.push({ file: "{{ video.sprites.url }}", kind: 'thumbnails'});
    {% endif %}

    jwplayer('video-{{ video.uuid }}').setup({
      {% thumbnail video.imagen.file "722" upscale=True as im %}
      image: '{{ im.url }}',
      {% endthumbnail %}
      {% if autostart %}
      autostart: true,
      {% endif %}
      sources: sources, tracks: tracks,
      preload: 'auto',
      primary: 'html5',
      hlshtml: true,
      ga: {
        idstring: "url",
        label: "url"
      },
      related: {
        file: "{{ video.similares }}",
        onclick: "link",
        oncomplete: 'show',
        //autoplaytimer: 10,
        heading: 'Videos relacionados',
        //autoplaymessage: 'Siguiente video se reproducirá en xx segundos...'
      },
      // skin: {
      //   name: 'lajornadavideos'
      // },
      sharing: {
         code: '<iframe src="{{ video.player }}" width="480" height="100%" frameborder="0"  scrolling="auto" />',
         heading: "Compartir video"
      },
      width: '100%',
      aspectratio: '{{ video.width }}:{{ video.height }}'
    });
  </script>
  {% endcompress %}
  <noscript>
    <video title="{{ video.titulo }}" poster="{{ im.url }}" controls>
      {% if video.hls %}<source src="{{ video.hls.url }}" type="vnd.apple.mpegURL">{% endif %}
      {% if video.webm %}<source src="{{ video.webm.url }}" type="video/webm">{% endif %}
      <source src="{{ video.archivo.url }}" type="video/mp4">
    </video>
  </noscript>
</div>
