$placeholderColor:  #cccccc;


#busqueda-form {
    position: relative;
    margin: 13px 13px 0;
    width: 0%;
    min-width: 40px;
    height: 40px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;

    input#search {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        outline: none;
        /* background: $headerBackground; */
        width: 100%;
        height: 40px;
        margin: 0;
        z-index: 10;
        padding: 20px 65px 20px 20px;
        font-family: inherit;
        font-size: 20px;
        color: black;

        &::-webkit-input-placeholder { color: $placeholderColor; }
        &:-moz-placeholder { color: $placeholderColor; }
        &::-moz-placeholder { color: $placeholderColor; }
        &:-ms-input-placeholder { color: $placeholderColor; }

    }


    .busqueda-icon-search,
    .busqueda-submit  {
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 0;
        margin: 0;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
    }

    .busqueda-submit {
        background: $headerBackground; /* IE needs this */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
        filter: alpha(opacity=0); /* IE 5-7 */
        opacity: 0;
        color: transparent;
        border: none;
        outline: none;
        z-index: -1;
    }

    .busqueda-icon-search {
        color: $fontColor;
        background: $headerBackground;
        z-index: 90;
        font-size: 22px;
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
    }

    .busqueda-icon-search:before {
        content: "\e000";
    }

    &.busqueda-open {
        width: 95%;

        .busqueda-icon-search {
            background: $rojoColor;
            color: white;
            z-index: 11;
        }

        .busqueda-submit {
        z-index: 90;   
        }
    }
}