div#header-wrap {
    background: $headerBackground;
    header {
        text-align: center;
        max-width: $maxWidth;

        a {
            display: inline-block;
            text-transform: uppercase;

            &.home-lajornada {
                font-family: "Roboto Condensed", sans-serif;
                font-weight: 700;
                position: absolute;
                top: 0; left:0;
                $iconWidth: 25px;
                $iconHeight: 25px;
                background: url(../images/icon.jpg) no-repeat left top;
                padding-left: $iconWidth+5;
                height: $iconHeight;
                line-height: $iconHeight;
                margin: 18px 0 0 15px;
                // @include media-breakpoint-down(md) {
                //     margin: 16px 0 0 20px;
                // }
                // @include media-breakpoint-down(xs) {
                //     margin: 14px 0 0 11px;
                // }
                @include media-breakpoint-down(xs) {
                    // display: none;
                }
                &:hover {
                    color: black;
                }
                &.busqueda-open {
                    display: none;
                }
                span {
                    @include media-breakpoint-down(md) {
                        display: none;
                    }
                }
            }

            &.home-videos {
                &.busqueda-open {
                    display: none;
                    position: absolute;
                }

                width: 260px;
                height: 35px;
                // line-height: 30px;
                margin-top: 16px;
                background: url(../images/logo.jpg) no-repeat;
                @include media-breakpoint-down(md) {
                    // width: 208px; height: 28px;
                    // background-size: 208px 28px;
                }
                @include media-breakpoint-down(xs) {
                    width: 200px; height: 27px;
                    background-size: 200px 27px;
                    span { display: none; }
                    position: relative;
                    margin-left: 10px;
                    top: 3px;
                }
            }
        }

        form { /* búsqueda */
            display: none;
            width: 30px; height: 30px;
            overflow: hidden;
            background: url(../images/lupa.jpg) no-repeat;
        }

        .navbar-toggler {
            font-size: 23px;
            color: $fontColor;
            // line-height: 50px;
            font-family: sans-serif;
            padding: 0;
            float: right;
            margin-top: 20px;
            position: relative;
        }
    }
}