section.videos { /* grupo de videos */
    font-family: "PT Serif";

    &.junto {
        margin: 0 1rem;
    }

    .descripcion {
        margin: 0.5rem 0;
        font-size: 107%;
    }
    ol {
        margin: 0; padding: 0;
        li {
            &:not(.grid-sizer) {
                margin-bottom: 0.57rem;
                // -webkit-box-shadow:inset 0px 0px 0px 0.5rem #fff;
                // -moz-box-shadow:inset 0px 0px 0px 0.5rem #fff;
                // box-shadow:inset 0px 0px 0px 0.5rem #fff;
            }

            list-style-type: none;

            &.grid-sizer { height: 0; }

            &.c25  { width: 25%;     font-size: 80%;  }
            &.c33  { width: 33.333%; font-size: 110%; }
            &.c50  { width: 50%;     font-size: 130%; }
            &.c66  { width: 66.666%; font-size: 150%; }
            &.c75  { width: 75%;     font-size: 175%; }
            &.c100 { width: 100%;    font-size: 200%; }

            @include media-breakpoint-down(md) {
                &.c25  { width: 25%;     font-size: 70%; }
                &.c33  { width: 33.333%; font-size: 85%; }
                &.c50  { width: 50%;     font-size: 100%; }
                &.c66  { width: 66.666%; font-size: 120%; }
                &.c75  { width: 75%;     font-size: 130%; }
                &.c100 { width: 100%;    font-size: 140%; }
            }

            @include media-breakpoint-down(sm) {
                &.c25  { width:  50%; font-size: 100%;}
                &.c33  { width: 100%; font-size: 120%;}
                &.c50  { width: 100%; font-size: 120%;}
                &.c66  { width: 100%; font-size: 120%;}
                &.c75  { width: 100%; font-size: 120%;}
                &.c100 { width: 100%; font-size: 130%;}
            }

            @include media-breakpoint-down(xs) {
                &.c25  { width: 100%; font-size: 100%; }
                &.c33  { width: 100%; font-size: 100%; }
                &.c50  { width: 100%; font-size: 100%; }
                &.c66  { width: 100%; font-size: 100%; }
                &.c75  { width: 100%; font-size: 100%; }
                &.c100 { width: 100%; font-size: 100%; }
            }
        }
    }
}


/*
    font-family: "PT Serif";
    ol {
        margin: 0; padding: 0;
        li {
            list-style-type: none;

            &.c25  { @include make-col-span(3);  font-size: 90%; }
            &.c33  { @include make-col-span(4);  font-size: 110%; }
            &.c50  { @include make-col-span(6);  font-size: 130%; }
            &.c66  { @include make-col-span(8);  font-size: 150%; }
            &.c100 { @include make-col-span(12); font-size: 170%; }

            @include media-breakpoint-down(md) {
                &.c25  { @include make-col-span(3);  font-size: 75%; }
                &.c33  { @include make-col-span(4);  font-size: 85%; }
                &.c50  { @include make-col-span(6);  font-size: 100%; }
                &.c66  { @include make-col-span(8);  font-size: 120%; }
                &.c100 { @include make-col-span(12); font-size: 140%; }
            }

            @include media-breakpoint-down(sm) {
                &.c25  { @include make-col-span(6); font-size: 100%;}
                &.c33  { @include make-col-span(12); font-size: 120%; }
                &.c50  { @include make-col-span(12); font-size: 120%; }
                &.c66  { @include make-col-span(12); font-size: 120%; }
                &.c100 { @include make-col-span(12); font-size: 130%; }
            }

            @include media-breakpoint-down(xs) {
                &.c25  { @include make-col-span(12); font-size: 100%; }
                &.c33  { @include make-col-span(12); font-size: 100%; }
                &.c50  { @include make-col-span(12); font-size: 100%; }
                &.c66  { @include make-col-span(12); font-size: 100%; }
                &.c100 { @include make-col-span(12); font-size: 100%; }
            }
        }
    }
}

*/
