@import "bootstrap/bootstrap.scss";
@import "_variables.scss";
@import "_mixins.scss";

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700,400);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(https://fonts.googleapis.com/css?family=PT+Serif+Caption);
@import url(https://fonts.googleapis.com/css?family=PT+Serif);

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon/icomoon.eot');
    src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.woff') format('woff'),
        url('../fonts/icomoon/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    background: $bodyBackground;
    color: $fontColor;
    font-family: $mainFont, sans-serif;
    -webkit-user-select: none;
    -webkit-touch-callout: none;

    ol, ul { margin: 0; padding: 0; }

    .relacionados {
        padding: 0 1rem;
    }

    a {
        color: $fontColor;
        &:hover, &:active, &.active {
            color: $rojoColor;
            text-decoration: none;
        }
    }

    #top-container {
        @import "header.scss";
        @import "nav.scss";
        @import "busqueda.scss";

        padding: 0;
    }

    #middle-container {
        @import "video_article.scss";
        @import "playlist.scss";
        max-width: $maxWidth;
        padding: 0 1rem;

        h1,h2 {
            font-size: 27px;
            font-family: $headingsFontFamily;
            font-weight: $headingsFontWeight;
            text-transform: uppercase;
            color: $rojoColor;
            padding: 1rem 0 0.25em 0;
        }

        h2 {
            font-size: 24px;
            a {
                color: $rojoColor;
                &:hover { text-decoration: underline; }
            }
        }
    }

    #bottom-container {
        padding: 0;
        @import "footer.scss";
    }
}
