@import "bootstrap/bootstrap.scss";
@import "font-awesome/font-awesome.scss";
@import "_variables.scss";
@import "_mixins.scss";

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700,400);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(https://fonts.googleapis.com/css?family=PT+Serif+Caption);
@import url(https://fonts.googleapis.com/css?family=PT+Serif);

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon/icomoon.eot');
    src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.woff') format('woff'),
        url('../fonts/icomoon/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


.lazy {
    display: none;
}

body {
    background: $bodyBackground;
    color: $fontColor;
    font-family: $mainFont, sans-serif;
    -webkit-user-select: none;
    -webkit-touch-callout: none;

    ol, ul { margin: 0; padding: 0; }

    .relacionados {
        padding: 0 1rem;
    }

    a {
        color: $fontColor;
        &:hover, &:active, &:active, &.active {
            color: $rojoColor;
            text-decoration: none;
        }
    }

    #top-container {
        @import "header.scss";
        @import "nav.scss";
        @import "busqueda.scss";

        padding: 0;
    }

    #middle-container {
        @import "video_article.scss";
        @import "playlist.scss";
        max-width: $maxWidth;
        padding: 0 1.3em;

        h1,h2 {
            letter-spacing: 0.07em;
            font-size: 27px;
            font-family: $headingsFontFamily;
            font-weight: 400;
            text-transform: uppercase;
            color: $rojoColor;
            padding: 2rem 1rem 0.25em 1rem;
        }

        h2 {
            font-size: 24px;
            padding: 2rem 1rem 0.25em 1rem;
            a {
                color: $rojoColor;
                &:hover { text-decoration: underline; }
            }
        }

        section>div {
            margin-left: 1rem !important;
            margin-right: 1rem !important;
            text-align: justify;
            text-justify: inter-word;
        }

    }

    #bottom-container {
        padding: 0;
        @import "footer.scss";
    }
}


.endless_container {

}

// .endless_loading {
//     &:hover {
//         background: #DD3937 !important;
//         border-bottom: 4px solid  #DD3937;

//       -webkit-transition: background-color 0.25s ease-out;
//       -moz-transition: background-color 0.25s ease-out;
//       -o-transition: background-color 0.25s ease-out;
//       transition: background-color 0.25s ease-out;
//     }
// }



a.endless_more, .endless_loading {
    font-size: 120%;
    padding: 0.5rem 0 3px 0;
    color: $rojoColor;
    font-weight: bold;
    display: block;
    margin: 1rem auto;
    text-align: center;
    width: 200px;
    font-style: oblique;
    margin-bottom: 1rem;

    &:hover, &:active, &:focus, {
        color: $rojoColor;
        
        // border-bottom: 4px solid #DD3937;
    }
}

// a.endless_more, .endless_loading {
//     font-size: 85%;
//     padding: 8px 0 3px 0;
//     border-bottom: 4px solid  #AD1000;
//     background: #DD3937;
//     color: white;
//     text-transform: uppercase;
//     font-weight: bold;
//     display: block;
//     margin: 1rem auto;
//     text-align: center;
//     width: 200px;

//      -webkit-transition: background-color 0.25s ease-out;
//       -moz-transition: background-color 0.25s ease-out;
//       -o-transition: background-color 0.25s ease-out;
//       transition: background-color 0.25s ease-out;

//     &:hover, &:active, &:focus, {
//         color: white;
//         background: #AD1000;
//         // border-bottom: 4px solid #DD3937;
//     }
// }
