nav.menu {
    font-family: $menuFontFamily;
    font-weight: $menuFontWeight;
    background: $headerBackground;
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
    
    text-align: center;
    // padding: 1rem 0 0.5rem 0;

    margin-bottom: 20px;
    @include media-breakpoint-down(sm){
        margin-bottom: 0;
    }

    padding: 3px;
    z-index: 10;

    .nav-item {
        margin-top:1rem;
        // letter-spacing: 0.06em;
        line-height: 2em;
        float: none;
        display: inline-block;
        text-transform: uppercase;
        padding: 0 0.2rem;
        @include media-breakpoint-down(md) {
            font-size: 105%;
            margin-top: 0;
        }
        @include media-breakpoint-down(xs) {
            font-size: 110%;
        }

        &.dropdown:hover .dropdown-menu {
            display: block;
        }
    }
}