@import "bootstrap/bootstrap.scss";

@import "_variables.scss";
@import "bootstrap-social.scss";


main#video {
    margin-top: 1rem;

    @include media-breakpoint-down(sm){
        margin-top: 0;
    }

    article {
        @include make-row(20px);
        margin: 0;
        padding: 0;
    }

    .player-col {
        @include media-breakpoint-down(sm){
            margin: 0;
            padding: 0;
        }
        .player-wrap {
            -webkit-box-shadow: rgba(0,0,0,0.4) 0 0 16px;
            box-shadow: rgba(0,0,0,0.4) 0 0 6px;
            margin-bottom: 20px;
            min-height: 300px;
        }
    }

    
    // .fa {
    //     color: $azulColor;
    // }

    h1 {
        // color: $fontColor;
        color: $azulColor;
        font-family: 'PT Serif', serif;
        font-weight: 700;
        text-transform: none;
        font-size: 26px;
        line-height: 125%;
        text-align: left;

    }

    div.compartir {
        .fa {
            color: $fontColor;
            &:hover {
                color: $azulColor;
            }
         }
        margin: 0.5rem 0 0.75rem 0;
        span {
            font-size: 20px;
            padding: 0.4rem 1rem 0.4rem 0;
        }
        
    }

    .labels {
        a:hover span {
            // text-decoration: underline;
            background-color: $azulColor;

        }
        .label {
            padding: 0.3rem 0.6rem;
            margin-right: 0 0.40rem;
            background-color: $verdeColor;
            text-transform: uppercase;
            -webkit-transition: background-color 0.4s ease-out;
          -moz-transition: background-color 0.4s ease-out;
          -o-transition: background-color 0.25s ease-out;
          transition: background-color 0.25s ease-out;
            &.categoria { background-color: $verdeColor; }

        }    
    }


    h1 {
        padding: 1rem 0;
    }

    

    .sub-titulo {
        padding-bottom: 0.5rem;
        padding-right: 1em;
        span {
            display: inline-block;
            margin-right: 2rem;
            i {
                opacity: 0.5;
                margin-right: 2px;
                // font-size: 80%;
            }
            &.duracion {
            }
            &.fecha {
            }
        }
    }

    .descripcion {
        @include media-breakpoint-down(sm) {
            text-align: justify;
            text-justify: inter-word;
        }
    }

    ul.links {
        color: $azulColor;
        padding: 1em 0 0 0em;
        font-size: 85%;
        li { list-style-type: none; }
        a {
            color: $azulColor;
        }
    }

}

section.relacionados {
    margin-top: 2rem;

    li {
        margin: 0; padding: 0;
        list-style-type: none;
    }
}
