{% load el_pagination_tags %}
{% with pagina_param=lista.slug videos=lista.videos.all %}

{% paginate 12 videos using pagina_param %}

<section class="lista videos {{ pagina_param }}
               {% if lista.invertido or lista.pagina.invertido %}invertido{% endif %}
               {% if lista.junto or lista.pagina.junto %}junto{% endif %}">
  {% if nombre %}
    <h2>
      {% if lista and lista.pagina %}
        <a title="{{ lista.nombre }}" href="/secciones/{{ lista.pagina.slug }}">
      {% endif %}
      {{ lista.nombre_plural|default:lista.nombre }}
      {% if lista.pagina %}</a>{% endif %}
    </h2>
  {% endif %}

  <ol class="container-fluid endless_page_template">
    <li class="grid-sizer c25"></li>
    {% for video in videos %}
      <li class="c25">{% include "includes/video_article.html" %}</li>
    {% endfor %}
  </ol>
</section>
{% show_more "mostrar más +" "cargando..." %}
{% endwith %}