{% load thumbnail %}
{% load compress %}
{% load static from staticfiles %}
{% load analytical %}
<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# video: http://ogp.me/ns/video#">
<meta charset="utf-8">
{% block style %}
  {% compress css %}{% block compressed_style %}
  <link href="{% static 'css/main.scss' %}"
        rel="stylesheet" type="text/x-scss">
  {% endblock %}{% endcompress %}
{% endblock %}


{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="{% static 'js/imagesloaded.min.js' %}"></script>
  <script src="{% static 'js/modernizr.custom.js' %}"></script>
  <script src="{% static 'js/masonry.min.js' %}"></script>
  <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
  <script src="{% static 'js/jquery.lazyload.min.js' %}"></script>
{% endblock %}
</head>

<body>
<div class="container" id="middle-container">
  <main>
    <section>
    {% with nolazy=True display=listado mostrar_nombre=False videos=listado.lista.videos.publicos nombre=listado.nombre|default:listado.lista.nombre_plural|default:listado.lista.nombre %}
    {% include "includes/lista.html" %}
    {% endwith %}
    </section>
  </main>
</div>

{% block bottom_script %}
<script src="{% static 'js/tether.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% compress js %}{% block compressed_bottom_script %}
<script src="{% static 'js/site.js' %}"></script>
{% endblock %}{% endcompress %}
{% endblock %}

</body>
</html>
