{% load thumbnail %}
{% thumbnail video.imagen.file "722" as im %}
<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">

<meta property="og:url"         content="{{ video.url }}" />
<meta property="og:type"        content="video" />
<meta property="og:video"       content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ video.archivo.url }}" />
<meta property="og:video:type"  content="video/mp4" />
<meta property="og:video"       content="{{ video.player }}" />
<meta property="og:video:type"  content="text/html" />
<meta property="og:title"       content="{{ video.titulo }}" />
<meta property="og:description" content="{{ video.descripcion_plain }}" />
<meta property="og:image"       content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ im.url }}" />
<meta property="og:site_name"   content="La Jornada Videos" />


<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="//content.jwplatform.com/libraries/Heo8FOlf.js"></script>
<title>{{ video.titulo }} - La Jornada Videos</title>
<style type="text/css">
  body { padding:0; margin:0; }
</style>

</head>


<body>

<div id="video"></div>
<script>
$(function() {
  jwplayer("video").setup({
    sources: [
        {% if video.hls %}{ file: "{{ video.hls.url }}" },{% endif %}
        { file: "{{ video.archivo.url }}" }
    ],
    {% if video.sprites %}
    tracks: [{ file: "{{ video.sprites.url }}", kind: "thumbnails"}],
    {% endif %}
    image: "{{ im.url }}",
    width: "100%",
    //ga: {}
    aspectratio:"{{ video.width }}:{{ video.height }}"
  });
});
</script>
<noscript>
  <video title="{{ video.titulo }}" poster="{{ im.url }}">
    {% if video.archivo %}<source src="{{ video.archivo.url }}" type="video/mp4">{% endif %}
  </video>
</noscript>

</body>
</html>
{% endthumbnail %}
