{% extends 'base.html' %}

{% block title %}Videos de {{ pagina.titulo }} - La Jornada Videos{% endblock %}

{% block content %}
<main>
  <h1>{{ pagina.titulo }}</h1>

  {% with videos=pagina.videos.all|slice:":12" %}
    {% include "includes/lista.html" %}
  {% endwith %}

  {% for listado in pagina.listas_en_pagina.all %}
    {% with videos=listado.videos_recientes %}
    {% include "includes/lista.html" %}
    {% endwith %}
  {% endfor %}

  <section class="videos">
    <ol class="container-fluid">
      <li class="grid-sizer c25"></li>
      {% for video in videos|slice:":1" %}
          <li class="c50">{% include "includes/video_article.html" %}</li>
      {% endfor %}
      {% for video in videos|slice:"1:5" %}
          <li class="c25">{% include "includes/video_article.html" %}</li>
      {% endfor %}
    </ol>
  </section>

  <section class="videos">
    <ol class="container-fluid">
      <li class="grid-sizer c33"></li>
      {% for video in videos|slice:"5:" %}
          <li class="c33">{% include "includes/video_article.html" with prioridad=1 %}</li>
      {% endfor %}
    </ol>
  </section>
</main>

<!-- <button type="button" class="btn btn-primary">MOSTRAR MÁS VIDEOS</button> -->

{% endblock %}
