{% extends 'base.html' %}

{% block title %}Videos de {{ pagina.titulo }} - La Jornada Videos{% endblock %}

{% block content %}
<main>
  <h1>{{ pagina.titulo }}</h1>
  {% if pagina.descripcion %}<p>{{ pagina.descripcion }}</p>{% endif %}

  {% with videos=pagina.videos.all %}
    {% include "includes/lista.html" %}
  {% endwith %}

  {% for listado in pagina.listas_en_pagina.all %}
    {% with videos=listado.lista.videos.all %}
    {% include "includes/lista.html" %}
    {% endwith %}
  {% endfor %}

<!-- <button type="button" class="btn btn-primary">MOSTRAR MÁS VIDEOS</button> -->

{% endblock %}
