{% extends 'base.html' %}
{% load cache %}

{% load static from staticfiles %}
{% load thumbnail %}
{% load more_like_this %}
{% load videos_tags %}

{% block title %}{{ video.titulo }} - La Jornada Videos{% endblock %}

{% block style %}{{ block.super }}{% if player == "videojs" %}
<link href="//vjs.zencdn.net/5.8.8/video-js.css" rel="stylesheet">
<!-- <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> -->
{% endif %}{% endblock %}

{% block compressed_style %}{{ block.super }}
<link href="{% static 'css/video.scss' %}" rel="stylesheet" type="text/x-scss">
{% if player == "videojs" %}
  <link href="{% static 'css/player/videojs.scss' %}" rel="stylesheet"
        type="text/x-scss">
{% else %}{% if player == "jwplayer" %}
  <link href="{% static 'css/player/jwplayer_skin.scss' %}" rel="stylesheet">
{% endif %}{% endif %}
{% endblock %}

{% block script %}{{ block.super }}{% if player == "jwplayer" %}
<script src="//content.jwplatform.com/libraries/Heo8FOlf.js"></script>
{% else %}{% if player == "clappr" %}
<script src="https://cdn.jsdelivr.net/clappr/latest/clappr.min.js"></script>
{% endif %}{% endif %}{% endblock %}

{% block compressed_script %}{{ block.super }}{% if player == "jwplayer" %}
<script src="//content.jwplatform.com/libraries/Heo8FOlf.js"></script>
{% endif %}{% endblock %}

{% block bottom_script %}{% if player == "videojs" %}
<script src="//vjs.zencdn.net/5.8.8/video.js"></script>
{% endif %}{{ block.super }}{% endblock %}

{% block content %}
<main id="video">
  <article itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
    <meta itemprop="contentURL" content="{{ video.archivo.url }}" />
    <meta itemprop="embedURL" content="{{ video.player }}" />
    <meta itemprop="uploadDate" content="{{ video.fecha|date:'c' }}" />
    <meta itemprop="height" content="{{ video.height }}" />
    <meta itemprop="width" content="{{ video.width }}" />
    <meta itemprop="transcript" content="{{ video.meta_descripcion|linebreaks|striptags }}" />
    {% thumbnail video.imagen.file "722x431" as im %}
    <meta itemprop="thumbnailUrl" content="{{ im.url }}" />
    {% endthumbnail %}

    <div class="col-lg-7 player-col">
      {% with autostart=True %}
      {% if player == "jwplayer" %}
        {% include "includes/player/jwplayer.html" %}
      {% else %}{% if player == "videojs" %}
        {% include "includes/player/videojs.html" %}
      {% endif %}{% endif %}
      {% endwith %}
    </div>

    <div class="col-lg-5">
      <div class="labels">
        {% for lista in video.listas.all %}
          {% if lista.slug != 'formato' %}
            {% with lista.links.latest as link %}
            {% if link %}
              <a title="{{ link.titulo }}" href="{{ link.url }}"
                 target="{% if link.blank %}_blank{% endif %}">
            {% else %}{% if lista.pagina %}
              <a title="{{ lista.pagina.nombre }}"
                 href="/secciones/{{ lista.pagina.slug }}">
            {% else %}
              <a title="{{ lista.nombre }}"
                 href="/listas/{{ lista.slug }}">
            {% endif %}{% endif %}

            {% if lista.mostrar_icono and lista.icono %}
              {% thumbnail lista.icono.file "25" as im %}
              <img src="{{ im.url }}" style="margin:{{ im|margin:"30x30" }}">
              {% endthumbnail %}
            {% else %}
              <span class="label {{ lista.clasificador.nombre }}">{{ lista.nombre }}</span>
            {% endif %}
              </a>
            {% endwith %}
          {% endif %}
        {% endfor %}
      </div>

      <h1 itemprop="name">{{ video.titulo }}</h1>

      <div class="compartir a2a_kit">
        <a class="a2a_button_twitter" href="https://www.twitter.com/share?url={{ video.get_absolute_url }}">
          <span class="fa fa-twitter" aria-hidden="true"></span>
        </a>
        <a class="a2a_button_facebook" href="https://www.facebook.com/sharer.php?u={{ video.get_absolute_url }}">
          <span class="fa fa-facebook" aria-hidden="true"></span>
        </a>
        <a class="a2a_button_google_plus" href="https://plus.google.com/share?url={{ video.get_absolute_url }}">
          <span class="fa fa-google" aria-hidden="true"></span>
        </a>
        <a class="a2a_button_whatsapp" href="whatsapp://send?text={{ video.get_absolute_url }}">
          <span class="fa fa-whatsapp" aria-hidden="true"></span>
        </a>
      </div>

      <script>var a2a_config = a2a_config || {};
      a2a_config.linkurl = "{{ video.get_absolute_url }}"; a2a_config.locale = "es";
      </script><script async src="https://static.addtoany.com/menu/page.js"></script>
      {# <div class="a2a_kit a2a_kit_size_32 a2a_default_style"></div> #}


      <div class="sub-titulo">
        {% if video.ciudad %}
          <span class="ubicacion">
            <i class="fa fa-globe" aria-hidden="true"></i>
            {{ video.ciudad }}
          </span>
        {%endif%}
        <span class="fecha">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          {{ video.fecha|date:"j \d\e F, Y"|lower }}
        </span>
        <meta itemprop="duration" content="{{ video.duracion }}" />
        <!-- <span class="duracion">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          {{ video.duracion|duration }}
        </span> -->
      </div>

      <div class="descripcion" itemprop="description">
        {{ video.descripcion|nodate|safe }}
      </div>
      <ul class="links">
          {% for link in video.links.all %}
            <li><span class="fa fa-link"></span> <a href="{{ link.url }}">{{ link.titulo }}</a></li>
          {% endfor %}
      </ul>

    </div>
  </article>


{% cache 120 similares video.pk %}
{% more_like_this video as similares limit 8  %}
{% if similares|result_list %}
  {% get_display_attrs pagina as display_pagina %}
  {% with display=display_pagina mostrar_nombre=True videos=similares|result_list nombre="Similares" mostrar_paginacion=False %}
      {% include "includes/lista.html" %}
  {% endwith %}
{% endif %}
{% endcache %}

{% for lista in video.listas.all %}
    {% cache 120 pagina_lista pagina.pk lista.pk %}
    {% if lista.clasificador.slug != 'autor' and lista.clasificador.slug != 'formato' and lista.videos.count %}
    {% with display=display_pagina mostrar_nombre=True videos=lista.videos.publicos nombre=lista.nombre_plural|default:lista.nombre mostrar_maximo=8 %}
    {% with nombre='Más de '|add:nombre %}
    {% include "includes/lista.html" %}
    {% endwith %}
    {% endwith %}
    {% endif %}
    {% endcache %}
{% endfor %}

</main>

{% endblock %}


{% block ldjson %}{{ block.super }}
{% thumbnail video.imagen.file "722x431" as im %}

{% with tags=video.merged_tags %}
{% if tags %}<meta name="keywords" content="{{ tags|join:"," }}">{% endif %}
{% endwith %}
<meta name="description" content="{{ video.descripcion_plain }}">

<meta property="og:url"         content="{{ video.url }}" />
<meta property="og:type"        content="video" />
<meta property="og:video"       content="{{ video.archivo.url }}" />
<meta property="og:video:type"  content="video/mp4" />
<meta property="og:video"       content="{{ video.player }}" />
<meta property="og:video:type"  content="text/html" />
<meta property="og:title"       content="{{ video.titulo }}" />
<meta property="og:description" content="{{ video.descripcion_plain }}" />
<meta property="og:image"       content="{{ im.url }}" />
<meta property="og:site_name"   content="La Jornada Videos" />

<meta name="twitter:card" content="player">
<meta name="twitter:site" content="@LaJornada">
<meta name="twitter:title" content="{{ video.titulo }}">
<meta name="twitter:description" content="{{ video.descripcion_plain }}">
<meta name="twitter:image" content="{{ im.url }}">
<meta name="twitter:player" content="{{ video.twitter_card }}">
<meta name="twitter:player:width" content="480">
<meta name="twitter:player:height" content="270">
<meta name="twitter:player:stream" content="{{ video.hls.url }}">
<meta name="twitter:player:stream:content_type" content="video/mp4; codecs=&quot;avc1.42E01E1, mp4a.40.2&quot;">

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "VideoObject",
    "name": "{{ video.titulo }}",
    "description": "{{ video.descripcion_plain }}",
    "thumbnailUrl": "{{ video.imagen.url }}",
    "uploadDate": "{{ video.fecha|date:'c' }}",
    "duration": "{{ video.duracion }}",
    "publisher": {
        "@type": "Organization",
        "name": "La Jornada",
        "logo": {
            "@type": "ImageObject",
            "url": "http://static.videos.jornada.com.mx/lajornadavideos/images/lajornada.jpg",
            "width": 600,
            "height": 60
        }
    },
    "contentUrl": "{{ video.archivo.url }}",
    "embedUrl": "{{ video.player }}",
    "width": "{{ video.width }}",
    "height": "{{ video.height }}"
}
</script>
{% endthumbnail %}
{% endblock %}


{% block compressed_bottom_script %}{{block.super}}
{% if player == "videojs" %}
  <script src="{% static 'js/player/videojs.thumbnails.js' %}"></script>
{% endif %}
<script>
  registerShorts({
    VVVV: '/videos/video/{{ video.id }}/change/',
    EEEE: '/videos/video/{{ video.id }}/change/#editorial',
    LLLL: '/videos/video/{{ video.id }}/change/#links',
    OOOO: '/videos/video/{{ video.id }}/change/#seo',
    RRRR: '/videos/video/?listas__id__exact={{ video|clasificacion:'serie'|getattr:'id' }}',
    UUUU: '/videos/video/?listas__id__exact={{ video|clasificacion:'autor'|getattr:'id' }}',
    SSSS: '/videos/video/?listas__id__exact={{ video|clasificacion:'seccion'|getattr:'id' }}',
    FFFF: '/videos/video/?listas__id__exact={{ video|clasificacion:'formato'|getattr:'id' }}',
    PPPP: '/videos/pagina/{{ pagina.id }}/change/',
  });
</script>
{% endblock %}
