{% extends 'base.html' %}
{% load thumbnail %}
{% load more_like_this %}

{% block content %}

<main id="video" class="fluid-container">
  <article class="row">
    <div class="col-lg-7">{% include "includes/player.html" %}</div>
    <div class="col-lg-5">
      <h1>{{ video.titulo }}</h1>
      <div class="descripcion">{{ video.descripcion }}</div>
    </div>
  </article>
</main>

<section class="relacionados">
  <h2>Videos relacionados</h2>
  <ol class="row">
    {% more_like_this video as relacionados limit 12 %}
    {% for result in relacionados %}
        <li class="col-xl-3 col-lg-4 col-sm-6">
          {% include "includes/video_article.html" with video=result.object %}
        </li>
    {% endfor %}
  </ol>
</section>

{% endblock %}


{% block title %}{{ video.titulo }} - La Jornada Videos{% endblock %}

{% block script %}{{ block.super }}
<script type="text/javascript" src="http://content.jwplatform.com/libraries/Heo8FOlf.js"></script>
{% endblock %}

{% block ljjson %}{{ block.super }}
{% thumbnail video.imagen "640" as im %}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "VideoObject",
    "name": "{{ video.titulo }}",
    "description": "{{ video.descripcion_plain }}",
    "image": '{{ video.imagen.url }}'
    "thumbnailUrl": "{{ im.url }}",
    "uploadDate": "{{ video.fecha|date:'c' }}",
    "duration": "{{ video.duracion }}",
    "publisher": {
        "@type": "Organization",
        "name": "La Jornada",
        "logo": {
            "@type": "ImageObject",
            "url": "http://static.videos.jornada.com.mx/lajornadavideos/images/lajornada.jpg",
            "width": 600,
            "height": 60
        }
    },
    "contentUrl": "{{ video.archivo.url }}",
    "embedUrl": "{{ video.url }}"
}
</script>
{% endthumbnail %}
{% endblock %}

