{% extends 'base.html' %}

{% load static from staticfiles %}
{% load thumbnail %}
{% load more_like_this %}
{% load videos %}

{% block title %}{{ video.titulo }} - La Jornada Videos{% endblock %}

{% block style %}{{ block.super }}{% if player == "videojs" %}
<link href="//vjs.zencdn.net/5.8.8/video-js.css" rel="stylesheet">
<!-- <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> -->
{% endif %}{% endblock %}

{% block compressed_style %}{{ block.super }}
<link href="{% static 'css/video.scss' %}" rel="stylesheet" type="text/x-scss">
{% if player == "videojs" %}
  <link href="{% static 'css/player/videojs.scss' %}" rel="stylesheet"
        type="text/x-scss">
{% endif %}
{% endblock %}

{% block script %}{{ block.super }}{% if player == "jwplayer" %}
<script src="//content.jwplatform.com/libraries/Heo8FOlf.js"></script>
{% else %}{% if player == "clappr" %}
<script src="https://cdn.jsdelivr.net/clappr/latest/clappr.min.js"></script>
{% endif %}{% endif %}{% endblock %}

{% block compressed_script %}{{ block.super }}{% if player == "jwplayer" %}
<script src="//content.jwplatform.com/libraries/Heo8FOlf.js"></script>
{% endif %}{% endblock %}

{% block bottom_script %}{% if player == "videojs" %}
<script src="//vjs.zencdn.net/5.8.8/video.js"></script>
{% endif %}{{ block.super }}{% endblock %}

{% block compressed_bottom_script %}{{block.super}}{% if player == "videojs" %}
<script src="{% static 'js/player/videojs.thumbnails.js' %}"></script>
{% endif %}{% endblock %}


{% block content %}
<main id="video" class="fluid-container">
  <article class="row">

    <div class="col-lg-7">
      {% if player == "jwplayer" %}
        {% include "includes/player/jwplayer.html" %}
      {% else %}{% if player == "videojs" %}
        {% include "includes/player/videojs.html" %}
      {% endif %}{% endif %}
    </div>

    <div class="col-lg-5">
      <div class="labels">
        {% for lista in video.listas.all %}
          
            {% with lista.links.latest as link %}
            {% if lista.slug != 'formato' %}
            {% if link %}
              <a title="{{ link.titulo }}" href="{{ link.url }}"
                 target="{% if link.blank %}_blank{% endif %}">
            {% else %}{% if lista.pagina %}
              <a title="{{ lista.pagina.titulo }}"
                 href="/secciones/{{ lista.pagina.slug }}">
            {% else %}
              <a title="{{ lista.nombre }}"
                 href="/listas/{{ lista.slug }}">
            {% endif %}{% endif %}

            {% if lista.mostrar_icono and lista.icono %}
              {% thumbnail lista.icono.file "25" as im %}
              <img src="{{ im.url }}" style="margin:{{ im|margin:"30x30" }}">
              {% endthumbnail %}
            {% else %}
              <span class="label {{ lista.clasificador.nombre }}">{{ lista.nombre }}</span>
            {% endif %}

            
              </a>
            
            {% endif %}
            {% endwith %}
          
        {% endfor %}
      </div>

      <h1>{{ video.titulo }}</h1>

      <div class="compartir">
        <a class="" href="{{ video.url }}">
          <span class="fa fa-twitter" aria-hidden="true"></span>
        </a>
        <a class="" href="{{ video.url }}">
          <span class="fa fa-facebook" aria-hidden="true"></span>
        </a>
        <a class="" href="{{ video.url }}">
          <span class="fa fa-google" aria-hidden="true"></span>
        </a>
        <a class="" href="{{ video.url }}">
          <span class="fa fa-whatsapp" aria-hidden="true"></span>
        </a>
      </div>

      <div class="sub-titulo">
        <span class="fecha">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          {{ video.fecha|date:"j \d\e N, Y" }}
        </span>
        <span class="duracion">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          {{ video.duracion|duration }}
        </span>
      </div>


      <div class="descripcion">{{ video.descripcion|safe }}</div>
      <ul class="links">
          {% for link in video.links.all %}
            <li><span class="fa fa-link"></span> <a href="{{ link.url }}">{{ link.titulo }}</a></li>
          {% endfor %}
      </ul>

    </div>
  </article>


{% for lista in video.listas.all %}
    {% if lista.clasificador.slug != 'autor' and lista.videos.count %}
    {% with nombre=lista.nombre %}
    {% include "ajax_lista.html" %}
    {% endwith %}
    {% endif %}
{% endfor %}


</main>

{% endblock %}


{% block ljjson %}{{ block.super }}
{% thumbnail video.imagen.file "640" as im %}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "VideoObject",
    "name": "{{ video.titulo }}",
    "description": "{{ video.descripcion_plain }}",
    "image": '{{ video.imagen.url }}'
    "thumbnailUrl": "{{ im.url }}",
    "uploadDate": "{{ video.fecha|date:'c' }}",
    "duration": "{{ video.duracion }}",
    "publisher": {
        "@type": "Organization",
        "name": "La Jornada",
        "logo": {
            "@type": "ImageObject",
            "url": "http://static.videos.jornada.com.mx/lajornadavideos/images/lajornada.jpg",
            "width": 600,
            "height": 60
        }
    },
    "contentUrl": "{{ video.archivo.url }}",
    "embedUrl": "{{ video.url }}"
}
</script>
{% endthumbnail %}
{% endblock %}
