django>=1.9
django-el-pagination
Pillow
sorl-thumbnail
django-analytical
MySQL-python
django-mptt
django-rq
rq-scheduler
django-cors-middleware
markdown
django-filter
django-crispy-forms
#django-supervisor
django-polymorphic
python-dateutil
wget
django-suit
django-suit-rq
django-reversion
django-suit-redactor
django-model-utils
django-taggit
django_select2
django-location-field
shortuuid
django-autoslug
django-redis
django-redis-cache
jsonfield
djangorestframework
django-haystack
libsass
elasticsearch>=1.0.0,<2.0.0
