-e git+https://github.com/django-haystack/django-haystack.git#egg=haystack
-e git+https://github.com/django-debug-toolbar/django-debug-toolbar.git#egg=django-debug-toolbar
-e git+https://github.com/gsmke/django-suit-rq.git#egg=django-suit-rq
-e git+https://github.com/rfkrocktk/django-locality.git#egg=django-locality

django>=1.9
django-analytical
django-autoslug
django-cacheback[rq]
django-crispy-forms
django-cors-middleware
django-countries
django-el-pagination
django-filter
django-location-field
django-model-utils
django-mptt
django-redis
django-redis-cache
django-reversion
django-rq
django-salmonella
django-select2
django-storages
django-suit
django-suit-redactor
django-taggit
djangorestframework
jsonfield
libsass
MySQL-python
markdown
Pillow
python-dateutil
rq-scheduler
shortuuid
sorl-thumbnail
wget
