django>=1.9
-e git+https://github.com/django-haystack/django-haystack.git#egg=haystack
-e git+https://github.com/django-debug-toolbar/django-debug-toolbar.git#egg=django-debug-toolbar
-e git+https://github.com/gsmke/django-suit-rq.git#egg=django-suit-rq
-e git+https://github.com/rfkrocktk/django-locality.git#egg=django-locality
django-el-pagination
Pillow
django-salmonella
django_countries
sorl-thumbnail
django-analytical
MySQL-python
django-mptt
django-rq
rq-scheduler
django-cors-middleware
markdown
django-filter
django-crispy-forms
python-dateutil
wget
django-suit
django-reversion
django-suit-redactor
django-model-utils
django-taggit
django_select2
django-location-field
shortuuid
django-autoslug
django-redis
django-redis-cache
jsonfield
djangorestframework
libsass
elasticsearch>=1.0.0,<2.0.0
