{% load thumbnail %}
{% load videos %}

<article class="video video-{{ video.uuid }}">
  <a href="{{ video.url }}">
    <figure>
      {% thumbnail video.imagen.file size|default:"640x360" crop="center" upscale=True as im %}
      <img class="img-fluid" src="{{ im.url }}" alt="{{ video.titulo }}"
            title="{{ video.titulo }}">
      {% endthumbnail %}
      <figcaption>
      {% if importante %}
          <span class="descripcion solo">
              {{ video.descripcion|truncatewords:"50"}}
          </span>
        {% endif %}
        <span class="titulo">
          <span class="icon fa fa-play" aria-hidden="true"></span> {{ video.titulo|truncatewords:20|breaksentence }}
        </span>
        <div class="detalle">
          {# <span class="icon fa fa-youtube-play" aria-hidden="true"></span> #}
          <span class="fecha">{{ video.fecha|date:"N j, Y" }}</span>
          <span class="duracion">{{ video.duracion|duration }}</span>
        </div>
      </figcaption>
    </figure>
  </a>
</article>
