{% load thumbnail %}
{% load videos_tags %}
{% load static from staticfiles %}

{% with video=video.video %}

<article itemprop="video" itemscope itemtype="http://schema.org/VideoObject"
  class="video video-{{ video.uuid }}
        {% if listado.invertido or pagina.invertido %}invertido{% else %}noinvertido{% endif %}
        {% if listado.junto or pagina.junto %}junto{% endif %}">
  <a href="{{ video.url }}"{% if display.target %} target="{{ display.target|default:'_top' }}"{% endif %}>
    <figure>
      {% get_thumb_geometry video "328x180" as geometry %}
      {% thumbnail video.imagen.file size|default:geometry crop="center" upscale=True as im %}
      {% if nolazy or request.is_ajax %}
      <img class="img-fluid lazy" src="{{ im.url }}" alt="{{ video.titulo }}">
      {% else %}
      <img class="img-fluid lazy" data-original="{{ im.url }}"
           alt="{{ video.titulo }}" src="{% static 'img/lazy.jpg' %}">
      {% endif %}
      {% endthumbnail %}
      <span class="icon fa fa-play play" aria-hidden="true"></span>
      <figcaption>
        {% if importante %}
          <span class="descripcion solo">
            {% if video.descripcion|length < 60 %}
              {{ video.descripcion|breaksentence }}
            {% else %}
              {{ video.descripcion|safe|truncatewords:200 }}
            {% endif %}
          </span>
        {% endif %}
        <span class="titulo" itemprop="name">
          {{ titulo|default:video.titulo|truncatewords:20|breaksentence }}
        </span>
        <div class="detalle">
          {# <span class="icon fa fa-youtube-play" aria-hidden="true"></span> #}
          <meta itemprop="contentURL" content="{{ MEDIA_URL }}{{ video.archivo.url }}" />
          <meta itemprop="uploadDate" content="{{ video.fecha|date:'c' }}" />
          <span class="fecha">{{ video.fecha|date:"N j, Y" }}</span>
          <meta itemprop="duration" content="{{ video.duracion }}" />
          <span class="duracion">{{ video.duracion|duration }}</span>
          <span class="serie">
            {% get_clasificacion video 'serie' as serie %}
            {% if serie %}{{ serie.nombre|truncatewords:"5" }}{% endif %}
          </span>
        </div>
      </figcaption>
      {# {% if listado.invertido or pagina.invertido %} #}
      <div class="invertido_caption">
        <span class="titulo">
          <span class="icon fa fa-play" aria-hidden="true"></span> {{ titulo|default:video.titulo|truncatewords:20|breaksentence }}
        </span>
        <div class="detalle">
          {# <span class="icon fa fa-youtube-play" aria-hidden="true"></span> #}
          <span class="fecha">{{ video.fecha|date:"N j, Y" }}</span>
          <span class="duracion">{{ video.duracion|duration }}</span>
        </div>
      </div>
      {# {% endif %} #}
    </figure>
  </a>
</article>

{% endwith %}
