{% if video.procesamiento != "listo" %}
  <div class="msg"></div>
  <div class="progress progress-striped active hide">
    <div class="bar" style="width: 0"></div>
  </div>
  <script>
    {% if video.procesamiento != "error" %}
      setInterval(function() {{
        update_status('{{ video.pk }}',
                      '{% url "procesamiento_status" video.pk %}');
      }}, 2000);
    {% endif %}
    update_status('{{ video.pk }}',
                  '{% url "procesamiento_status" video.pk %}');
  </script>
{% endif %}

<table class="info table table-striped">
  {% for info in info_fields %}
    {% if info.value %}
      <tr class="info-row info-{{ info.field }}">
        {% if info.field.verbose_name %}
          {% if info.field.name == 'fecha_creacion' %}
            <th>Creado en</th>
          {% else %}{% if info.field.name == 'usuario_creacion' %}
            <th>Creado por</th>
          {% else %}
            <th>{{ info.field.verbose_name|capfirst }}</th> 
          {% endif %}
          {% if "fecha" in info.field.name %}
            <td title="{{ info.value }}">
              {{ info.value|date:"DATETIME_FORMAT" }}
            </td>
          {% else %}{% if info.field.name == "listas" %}
            <td title="{{ info.value }}">
              {% for lista in info.value.all %}
                <span class="label label-info">{{ lista.clasificador.nombre }}: <big>{{ lista.nombre }}</big></span>
              {% endfor %}
            </td>
          {% else %}{% if info.field.name == "titulo" %}
            {% if video.estado == 'publicado' %}
              <td title="{{ info.value }}">
                <a target="_blank" href="{{ video.get_absolute_url }}">
                  {{ info.value|truncatewords:20 }}
                </a>
              </td>
            {% else %}
              <td title="{{ info.value }}">
                {{ info.value|truncatewords:20 }}
              </td>
            {% endif %}
          {% else %}
            {% if info.field.name == 'tags' %}
              <td title="">
                <div class="info-value">
                  {% for tag in info.value.all %}
                      <span class="label">{{ tag }}</span>
                  {% endfor %}
                </div>
              </td>
            {% else %}
              <td title="{{ info.value|striptags }}">
                <div class="info-value">
                  {{ info.value|truncatewords_html:40|safe|striptags }}
                </div>
              </td>
            {% endif %}
          {% endif %}{% endif %}{% endif %}{% endif %}
        {% else %}
          {% if info.field == 'duracion_iso' %}
            <th>Duración</th>
            <td>{{ info.value }}</td>
          {% else %}{% if info.field == 'listas' %}
            <th>Listas</th>
            <td>
              {% for lista in info.value.all %}
                <span class="label label-primary">{{ lista.clasificador.nombre }}: <strong>{{ lista.nombre }}</strong>strong></span>
              {% endfor %}
            </td>
          {% else %}
            <th>{{ info.field }}</th>
            <td><code>{{ info.value|safe }}</code></td>
          {% endif %}{% endif %}
        {% endif %}
      </tr>
    {% endif %}
  {% endfor %}
</table>
