upstream vcms_{{ item }} {
    server unix:///run/uwsgi/app/vcms_{{ item }}/socket;
}

server {
    listen  80;
    server_name .{{ vcms_server_names[item] }};
    server_name .{{ item }}-admin.openmultimedia.biz;
    server_name .{{ item }}-admin-stg.openmultimedia.biz;
    server_name .{{ item }}-admin-dev.openmultimedia.biz;

    charset     utf-8;

    # max upload size
    client_max_body_size 75M;

    location /media  {
        alias /mnt/media/lajornadavideos;

        location ~* \.mp4$ {
            mp4;
            gzip off;
            mp4_buffer_size     2m;
            mp4_max_buffer_size 10m;
            if ($args ~ download) {
                add_header Content-Type "application/octet-stream";
                add_header Content-Disposition "attachment; filename=$1";
            }
        }
    }
    
    # Finally, send all non-media requests to the Django server.
    location / {
        uwsgi_pass  vcms_{{ item }};
        include     /vagrant/provisioning/etc/uwsgi_params;
    }
}