[uwsgi]

processes = 3
env = DJANGO_SETTINGS_MODULE=vcms.settings_{{ item }}
logto = /var/log/vcms/uwsgi_vcms_{{ item }}.log
master = true
enable-threads = true
single-interpreter = true
chdir = /vagrant/vcms
module = vcms.wsgi
vacuum = true
uid = nginx