<script id="media-row" type="text/html">

  <div class="row">

      <div class="col-xs-12 col-sm-2">
        <a href="#" class="edit"><img class="img-responsive img-thumbnail" src="{{clip.thumbnail_mediano}}" alt="{{ clip.titulo }}"></a>
      </div>

      <div class="col-sm-10">

          <div class="pull-right boton-acciones">
              <!--BOTÓN ACCIONES -->
          </div>

          <div class="hidden-xs">
              
              <span class="label label-green i18n i18n-dot" data-toggle="tooltip" data-placement="bottom" data-original-title="ID">{{clip.id}}</span>
              

              {{^clip.publicado}}
              <span class="label label-danger i18n-dot i18n" data-toggle="tooltip" data-placement="bottom" data-original-title="Este clip NO se encuentra publicado">DESPUBLICADO</span>
              {{/clip.publicado}}

              <span class="label label-primary i18n-dot" data-toggle="tooltip" data-placement="bottom" data-original-title="Tipo de clip">{{clip.tipo.nombre}}</span>

              {{#clip.seleccionado}}
              <span class="label label-pink i18n i18n-dot" data-toggle="tooltip" data-placement="bottom" data-original-title="Selección del Editor">SELECCIÓN</span>
              {{/clip.seleccionado}}

              <span class="label label-info i18n-dot" data-toggle="tooltip" data-placement="bottom" data-original-title="Categoría">{{clip.categoria.nombre}}</span>
              
              <span class="label label-purple i18n-dot" data-toggle="tooltip" data-placement="bottom" data-original-title="Hashtags">{{clip.hashtags}}</span>

              {{#clip.pais}}
              <span class="label label-green i18n-dot" data-toggle="tooltip" data-placement="bottom" data-original-title="Ubicación (ciudad y país)">{{#clip.ciudad}}{{clip.ciudad}},{{/clip.ciudad}} {{clip.pais.nombre}}</span>
              {{/clip.pais}}

              {{#clip.programa}}
              <span class="label label-warning i18n-dot" data-toggle="tooltip" data-placement="bottom" data-original-title="Programa de origen">{{ clip.programa.nombre }}</span>
              {{/clip.programa}}

              {{#clip.corresponsal}}
              <span class="label label-gray i18n-dot" data-toggle="tooltip" data-placement="bottom" data-original-title="Corresponsal">{{ clip.corresponsal.nombre }}</span>
              {{/clip.corresponsal}}

              {{#clip.tema}}
              <span class="label label-danger i18n-dot" data-toggle="tooltip" data-placement="bottom" data-original-title="Tema"><span class="i18n">Tema</span>: {{ clip.tema.nombre }}</span>
              {{/clip.tema}}

              {{#clip.serie}}
              <span class="label label-primary i18n-dot" data-toggle="tooltip" data-placement="bottom" data-original-title="Serie"><span class="i18n">Serie</span>: {{ clip.serie.nombre }}</span>
              {{/clip.serie}}
        </div>
          <h4 class="media-heading"><a class="edit" href="{{ clip.navegador_url }}" target="_blank">{{ clip.titulo }}</a></h4>
          <small class="date">{{clip.fecha_texto}}</small>

          {{#clip.descripcion}}
          <p class="text-overflow descripcion">{{ clip.descripcion }}</p>
          {{/clip.descripcion}}
          {{^clip.descripcion}}
          <p class="text-overflow descripcion"><em class="i18n">Sin Decripción</em></p>
          {{/clip.descripcion}}
      </div>
  </div>

</script>



<script id="boton-acciones" type="text/html">

<div class="btn-group">
  <button data-toggle="dropdown" class="btn btn-primary" aria-expanded="false"><span class="i18n">Acciones</span> <b class="caret"></b></button>

  <ul role="menu" class="dropdown-menu dropdown-menu-right">
     <li><a class="edit" href="#"><span class="icon-pencil text-green"></span> <span class="i18n">Editar</span></a></li>

     {{#clip.publicado}}
     <li><a data-toggle="modal" class="link" href="#modallinkembed"><span class="icon-link text-primary"></span> <span class="i18n">Links y embed</span></a></li>
     {{/clip.publicado}}

     <li><a class="descargar" href="{{clip.descarga_url}}"><span class="fa fa-download text-purple"></span> <span class="i18n">Descargar video</span></a></li>

     {{#clip.publicado}}
     <li><a class="despublicar" href="#"><span class="icon-action-undo"></span> <span class="i18n">Despublicar</span></a></li>
     {{/clip.publicado}}

     {{^clip.publicado}}
     <li><a class="publicar" href="#"><span class="icon-arrow-up"></span> <span class="i18n">Publicar</span></a></li>
     {{/clip.publicado}}

     <li><a data-toggle="tooltip" data-placement="left" title="Genera una nueva imagen miniatura extraida de una posición aleatoria" class="cambiar_thumbnail autothumbnail i18n-title" href="#"><span class="icon-picture text-pink"></span> Auto-thumbnail</a></li>

     <li><a class="eliminar" href="#"><span class="icon-trash text-danger"></span> <span class="i18n">Eliminar</span></a></li>
  </ul>
</div>

</script>
