django==1.8
Pillow
sorl-thumbnail
MySQL-python
django_rq
rq-scheduler
djangorestframework
markdown
django-filter
django-crispy-forms
django-supervisor
python-dateutil
django-rest-swagger
mandrill
pytube
